.parent{
    display: flex;
    

}
.sample1{
    display: flex;
  justify-content: center;
    border: 10px; border: 1px solid grey;
    margin: 2px;
     color: green; 
    border-width:3px;
    background-color: lightgrey;
}
.item{
    display: flex;
    border:1px dotted black;
    padding: 10px;
    justify-content: flex-start;
    margin: 10px;
    background-color: lightblue;
}



.sample2{
    display: flex;
  justify-content: flex-end;
    border: 10px; border: 1px solid pink;
    margin: 1px;
     color: red; 
    border-width:6px;
    background-color: lightgreen;
    
}    
.sample3{
     display: flex;
  justify-content: flex-start;
    border: 10px; border: 1px solid green;
    margin: 1px;
     color: yellow; 
    border-width:6px;
    background-color:  purple;
}